{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}
{% block body %}
	<h1>Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			{% include "product/_product_card.html.twig" %}
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium illo quisquam est quia asperiores doloremque?</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
         "color": "primary",
         "icon": "fas fa-truck",
         "text": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quae earum, expedita quisquam illo pariatur."
        }%}
		{% include "shared/_assurance.html.twig" with {
         "color": "success",
         "icon": "fas fa-check",
         "text": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quae earum, expedita quisquam illo pariatur."
        }%}
		{% include "shared/_assurance.html.twig" with {
         "color": "warning",
         "icon": "fas fa-lock",
         "text": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quae earum, expedita quisquam illo pariatur."
        }%}
	</div>
{% endblock %}
